* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #416656;
    --strong-green: #006C49;
    --light-green: #ADEDD3;
    --dark-font: #191C1D;
    --dark-gray-font: #3C4A42;
    --white-font: #FFFFFF;
}

.title-font {
    font: 700 32px/39px 'Inter', sans-serif;
    color: var(--dark-font);
    letter-spacing: -0.65px;
}

.logo-font {
    font: 600 24px/32px 'Inter', sans-serif;
    color: var(--strong-green);
    letter-spacing: -0.6px;
}

.description-m {
    font: 500 18px/28px 'Roboto', sans-serif;
    color: var(--dark-gray-font);
}

.description-sm {
    font: 500 14px/21px 'Roboto', sans-serif;
    color: var(--dark-gray-font);
}

.label-font-m {
    font: 600 14px/14px 'Roboto', sans-serif;
    color: var(--white-font);
    letter-spacing: 0.28px;
}

.label-font-s {
    font: 500 12px/12px 'Roboto', sans-serif;
    color: var(--dark-gray-font);
}

.location-font {
    font: 400 12px/18px 'Roboto', sans-serif;
    color: var(--strong-green);
}

.footer-font {
    font: 400 12px/12px 'Roboto', sans-serif;
    color: var(--dark-green);
}
